html {
    --primary-foreground-color: #333333;
    --brand-color: #21223e;
    --secondary-brand-color: #5759a7;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Hind, sans-serif;
    font-family: Quicksand, sans-serif;
    font-size: 20px;
    line-height: 1.3;
    color: var(--primary-foreground-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

h1 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 2.66rem;
}

h1 {
    font-weight: 300;
}

h1 span {
    font-weight: 500;
}

a {
    color: inherit;
}

a:hover {
    color: var(--secondary-brand-color);
}

body > main {
    margin: 3rem auto 0;
    padding: 0 3rem;
    max-width: 1200px;
}

body > footer {
    border-top: 1px solid black;
    text-align: center;
}

body > footer > .container {
    margin: 0 auto;
    max-width: 1200px;
}

body > footer p {
    margin: 1em 0;
}

body > footer .social-icons {
    justify-content: flex-end;
    --social-icon-size: 2rem;
    margin-bottom: 3rem;
}

.main-header {
    border-bottom: 1px solid black;
}

.main-header nav {
    margin: 0 auto;
    max-width: 1200px;
}

.main-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main-header ul li a {
    padding: 0.5em;
    display: block;
}

p {
    margin: 0;
}

.content-with-side {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.content-with-side__main {
    flex: 1.6 1.6 0;
}

.cv-section {
    display: flex;
    flex-direction: row;
    min-width: 0;
    order: 1;
}

.cv-dates {
    flex: 1;
    font-weight: bold;
    text-align: left;
}

.cv-details {
    flex: 3;
}

.content-with-side__side {
    flex: 1 1 0;
    min-width: 0;
    order: 1;
}

.master-thesis-side {
    flex: 0 1 auto;
    min-width: 0;
    order: 1;
    width: 30%; /* Adjust percentage as needed */
    max-width: 300em; /* Limit maximum size */
    display: inline-block;
    align-self: center;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.3);
    transition: 0.3s ease all;
    transform: perspective(200px) translateZ(0) translateY(-40%) rotateX(0deg) translateY(40%);
}
.master-thesis-side:hover {
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.5);
    transform: perspective(200px) translateZ(10px) translateY(-40%) rotateX(1deg) translateY(40%);
}

@media (max-width: 750px) {
    .content-with-side {
        display: block;
    }
    .content-with-side__side {
        float: right;
        width: 12rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 550px) {
    .content-with-side {
        display: block;
    }
    .content-with-side__side {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-bottom: 1rem;
    }
}

.rounded {
    border-radius: 2rem;
}

.social-icons {
    --social-icon-size: 4rem;

    margin: 0;
    margin-top: 1rem;
    padding: 0;
    list-style: none;
    display: flex;
    gap: calc(var(--social-icon-size) / 16);
}

.social-icons > li {
    font-size: 0;
}

.social-icons > li > a {
    width: var(--social-icon-size);
    height: var(--social-icon-size);
    background-size: calc(var(--social-icon-size) / 1.15) calc(var(--social-icon-size)  / 1.15);
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-property: transform;
}

@media (max-width: 700px) {
    .social-icons > li > a {
        --social-icon-size: 3rem;
    }
}

.social-icons > li > a:hover {
    transform: scale(1.2);
}

.social-icons > li > a:active {
    transform: scale(1.1);
    transition-duration: 0.1s;
}

.social-icons__email {
    background-image: url("images/Mail_Icon.png");
}

.social-icons__github {
    background-image: url("images/Github_Icon.png");
}

.social-icons__google-scholar {
    background-image: url("images/Google_schoolar_Icon.png");
}

.social-icons__linkedin {
    background-image: url("images/LinkedIn_Icon.png");
}

.btn {
    display: inline-block;
    padding: 0.3rem 0.7rem;
    text-decoration: none;
    border-radius: 0.3rem;
    background-color: var(--primary-foreground-color);
    color: white;
}

.btn:hover {
    color: white;
    text-decoration: underline;
}

figure.full-width {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
figure.full-width > * {
    flex: 1 1 100%;
    min-width: 0;
}
